@font-face {
    font-family: 'YourFontName';
    src: 
        url('/Asset/fonts/amusht-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  


* {
    box-sizing: border-box;
}

body{
    background-color: cornflowerblue;
}



.static {
    position: absolute;
    z-index: -1;
    
}

.text {
    font-family: Playwrite RO, cursive;
    color: rgb(136, 240, 10);
    line-height: 2;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 100px;
}

.overlay {
    font-family: Playwrite RO, cursive;
    text-align: center;
    color: rgb(136, 240, 10);
    line-height: 2;
}

p {
    font-family: Amusht;
    font-size: 100px;
    text-align: center;
    color: blue;
}

