@font-face {
    font-family: 'YourFontName';
    src: 
        url('/Asset/fonts/amusht-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: #929a94;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .static {
    position: absolute;
    z-index: -1;
  }
  
  .text {
    font-family: 'Playwrite RO', cursive;
    color: rgb(136, 240, 10);
    line-height: 2;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  h2 {
    text-align: center;
    font-size: 100px;
    margin: 0;
  }
  
  .overlay {
    font-family: 'Playwrite RO', cursive;
    text-align: center;
    color: rgb(136, 240, 10);
    line-height: 2;
  }
  
  p {
    font-family: 'Amusht', 'YourFontName', sans-serif;
    font-size: 100px;
    text-align: center;
    color: blue;
  }